In [19]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from tqdm import tqdm  # Import tqdm for progress tracking
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error,accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [20]:
df = pd.read_csv("../../dataset/customer_data.csv", parse_dates=['data'])
#ds = ds.sample(n=1000)
df.sort_values(by='data', ascending=True, inplace=True)
df.head(5)

        customer  retail  external_code                data  qty
201675    206879      49              1 2016-12-01 17:58:46    1
165895    170885      51              2 2016-12-01 21:06:10    1
273101    283290      49              3 2016-12-02 10:33:52    1
297358    320411      51              5 2016-12-02 10:37:31    1
220321    219280      41              2 2016-12-02 11:28:11    1

In [21]:
df['date'] = pd.to_datetime(df['data']).dt.date

In [22]:
df = df.drop(columns=['data','customer'],inplace=False)

In [23]:
df.head(2)

        retail  external_code  qty        date
201675      49              1    1  2016-12-01
165895      51              2    1  2016-12-01

In [24]:
df.shape

(3184162, 4)